version: "3.8"

services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=3000
      - PGID=3000
      - TZ=Africa/Johannesburg
    volumes:
      # Local config (recommended)
      - /opt/docker/sonarr/config:/config

      # NFS-backed media + downloads
      - tv:/tv
      - downloads_complete:/downloads
    ports:
      - 8989:8989
    restart: unless-stopped

volumes:
  tv:
    driver: local
    driver_opts:
      type: nfs
      o: addr=10.0.10.80,nfsvers=4,rw
      device: :/mnt/tera/media/tv_shows

  downloads_complete:
    driver: local
    driver_opts:
      type: nfs
      o: addr=10.0.10.80,nfsvers=4,rw
      device: :/mnt/tera/downloads/complete
